extends layout

block content
  .container
    .col-12(style="text-align:center")
      h2 Golem Image Sharpening
      p Using golem to sharpen your image.
      a.btn.mt-3(href="/u/upload")
        |Go to upload image
