extends layout

block content
  .container
    .col-6
      p Original image:
      img(src="/images/demo.jpg")
    .col-6
      p Image processing:
      img(src="/images/output.png")
    .col-12(style="text-align:center")
      p Upload image
      form(method='post', action="/u/uploadimage", enctype='multipart/form-data')
        input(type='file', name='imageupload')
        input(type='submit', name='uploadimage', value='Upload')
